@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0 !important;
  font-family: "Poppins", sans-serif;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.footerButton {
  justify-content: center;
}

.searchTag .searchBar {
  width: 400px !important;
}

.settingTool svg {
  cursor: pointer;
}

.react-datepicker-wrapper {
  height: 61px;
  display: flex !important;
  align-items: center !important;
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
  margin-right: 16px !important;
  padding-left: 12px !important;
}

.searchTag .images {
  left: 7px !important;
}

body .searchTag .searchBar fieldset {
  border: 1px solid #ccc !important;
  border-radius: 12px !important;
}

.statusButton {
  width: 60px;
  display: inline-flex;
}

.footerButton button {
  border: 1px solid #e8fbff;
  border-radius: 10px !important;
  background-color: #0096a4 !important;
  color: #fff !important;
  font-family: "poppins";
  font-size: 20px !important;
  text-transform: capitalize !important;
  padding: 6px 20px;
  position: relative;
  bottom: 20px;
}

.activeButton {
  color: green !important;
}

.inactiveButton {
  color: #fff;
  /* border: 1px solid #0096a4 !important;
  border-radius: 100px; */
  color: red;
}

body .react-datepicker-wrapper button.react-datepicker__close-icon {
  right: 0 !important;
  position: relative !important;
}

.activeButton path {
  color: #fff !important;
}

.inactiveButton path {
  color: #0096a4 !important;
}

.selectFloating .MuiInputLabel-shrink {
  display: none !important;
}

.appCOlor label {
  font-family: "Poppins";
  display: block;
  padding-bottom: 6px;
}

.my-select .MuiSelect-select {
  font-family: "poppins";
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
  font-family: "poppins";
}

.ql-editor {
  text-align: left !important;
  direction: ltr !important;
  padding: 12px 15px;
}

.ql-editor p {
  text-align: left !important;
  margin: 0;
}

.ql-editor.ql-blank::before {
  left: 15px !important;
  right: auto !important;
  text-align: left !important;
  font-style: normal;
}

.ql-editor>* {
  text-align: left !important;
}

.ql-container.ql-snow {
  border: 1px solid #ccc;
}

.ql-editor:focus {
  outline: none;
}

/* .customLabel input::plaeholder{
  opacity: 1 !important;
} */
.MuiBackdrop-root.MuiModal-backdrop {
  background: #0000000d !important;
}

.noData {
  text-align: center;
  padding-left: 260px;
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  padding-top: 100px;
}

.dashboardLayout {
  display: flex;
}

.sidebar {
  width: 260px;
  position: fixed;
  height: 100%;
  background: #fff;
  z-index: 11;
  min-height: 90vh;
  overflow-y: scroll;
}

.icons {
  text-align: center;
  margin: 16px;
}

.sidebar ul li {
  color: #646464;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  padding: 12px;
  padding-right: 0 !important;
  position: relative;
  display: flex;
  align-items: center;
}

svg.sideSvg {
  position: absolute;
  right: -14px;
  margin: 0 !important;
}

.innerDetailBox {
  background: #f1f1f1;
  margin-left: 11px;
}

.inputTips fieldset {
  border-color: #000 !important;
  border-radius: 10px !important;
  border: 1px solid #000 !important;
}

svg.sideSvg.rotate {
  transform: rotate(180deg) !important;
}

.active .sidebar ul .trash {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

.active .adNew {
  padding-left: 80px !important;
}

.sidebar ul li svg {
  margin-right: 14px;
  width: 24px;
  min-width: 24px;
}

.sidebar ul {
  padding: 0 !important;
  margin: 26px 20px;
}

.header {
  height: 91px;
  display: flex;
  position: fixed;
  width: 100%;
  padding-left: 260px;
  background-color: #fff;
  z-index: 9;
}

.dashboardContent {
  padding-left: 260px;
}

.childDashboard {
  width: 100%;
  padding-top: 91px;
  height: 100%;
  background-color: #f1f1f1;
  min-height: 99vh;
  max-height: 100%;
}

.Mui-checked .MuiSwitch-thumb {
  margin: 2px 0 2px 10px !important;
}

.active .sidebar {
  width: 80px;
}

.active .header {
  padding-left: 80px;
}

.active .dashboardContent {
  padding-left: 80px;
}

.active .addNew {
  padding-left: 80px;
}

.active .sidebar ul li {
  width: 25px;
  overflow: hidden;
}

.active .sidebar ul li svg {
  margin-right: 14px;
  width: 20px;
  min-width: 28px;
}

.active .icons svg {
  width: 36px;
}

.activeClass {
  color: #0096a4 !important;
}

.toggleButton {
  position: absolute;
  right: 300px;
  top: 24px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.dropBoxed {
  position: absolute;
  right: 300px;
  top: 94px;
  background: #fff;
  width: 180px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
}

.dropBoxed a {
  color: #646464 !important;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.toggleButton span {
  width: 45px;
  height: 45px;
  background: #0096a4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins";
  color: #fff;
}

input[type="file"]::file-selector-button {
  border: 1px solid #e8fbff;
  border-radius: 6px !important;
  background-color: #0096a4 !important;
  color: #fff !important;
  font-family: "poppins";
  font-size: 14px !important;
}

.sketch-picker {
  position: absolute;
}

span.colorSelect {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid #646464;
}

.trash {
  margin-left: 36px !important;
  position: relative;
}

.trash::after {
  content: "";
  border: 1px solid #646464b2;
  width: 45px;
  position: absolute;
  left: -35px;
  transform: rotate(90deg);
  top: 4px;
}

.underLine {
  font-size: 14px;
  font-family: "Poppins";
  margin: 0 !important;
  font-weight: 500 !important;
  color: #000 !important;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid #0096a4 !important; */
  width: fit-content;
}

.hoverBox {
  box-shadow: 0px 0px 5px #ccc;
  background-color: #fdfbff;
  border-radius: 22px;
  padding: 20px 32px;
  position: absolute;
  z-index: 99;
  top: 0;
}

.hoverBox ul {
  padding: 0 !important;
}

.hoverBox ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.hoverBox ul li svg {
  margin-right: 10px;
}

.hoverList h4 {
  font-family: "poppins";
  font-weight: 500;
  margin: 0 !important;
}

.hoverBox ul li h5 {
  margin: 0 !important;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  width: 200px;
  padding: 10px;
  color: #000;
}

.imageUploaded {
  width: 80px !important;
  height: 80px !important;
}

.hoverBox ul li span {
  opacity: 0.6 !important;
  font-size: 16px !important;
  color: #000;
  font-family: "Poppins";
  font-weight: 500;
}

/* .hoverList h4:hover +.hoverBox {
    display: block !important;
} */

.ql-editor {
  height: 135px !important;
}